body {
  background-image: url(./assets/MOnXZPm.png);
}

h1 {
  color: #fafafa;
  padding: 0;
  margin: 0;
  line-height: 20px;
  font-size: 25px;
  font-family: "VT323", monospace;
}

span {
  font-size: 15px;
}
