//VARIABLES & MIXINS//

//FONTS//
$font: 'Source Sans Pro', sans-serif;

//WEARY TRAVELER//
$gif: "../assets/backgrounds/darksouls.gif";

//COLORS//
$font-color: #fbf1c7;
$subheading-color: #999999;
$bg-color: #282828;

//MIXINS//
@mixin bg {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 50%;
  background-size: cover;
  opacity: 0.3;
  z-index: -1;
}