@import "setup";
@import "variablemix";

body {
  background-color: $bg-color;
  color: $font-color;
}

.take-a {
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;

  .seat {
    width: 60%;
    font-family: $font;
    color: $font-color;
    font-size: 14px;

    .weary {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    .traveler {
      text-align: center;
    }
  }  
}

